<h1><p style="color: green">
	Article</p>
</h1>
<%= image_tag @article.banner %>
<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>
<p>
	<strong>Tekst:</strong>
	<%= @article.text %>
</p>
<br>

<%= pluralize(@article.likes.count, "person") %> liked this article

<% if @like.persisted? %>

<%= link_to "Unlike",  article_like_path(@article, @like), method: :delete %>
<% else %>
<%= link_to "Like",  article_likes_path(@article), method: :post %>


<% end %>


<h3><p style="color: blue">Comments</p></h3>

<% @article.comments.each do |comment| %>
<%= render 'comments/comment', comment: comment %>
<% end %>

<%= render 'comments/form' %>


<%= link_to 'Back', articles_path %>